version: "1.0.{build}"
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2019
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: "{version}"
  package_version: "{version}"
  assembly_version: "{version}"
  file_version: "{version}"
  informational_version: "{version}"
branches:
  only:
    - main
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here
before_build:
  - cmd: dotnet --version
  - cmd: dotnet restore src/lobe.sln --verbosity q
build_script:
  - cmd: dotnet build src/lobe.sln
after_build:
  # For once the build has completed
  - cmd: dotnet pack src/lobe.ImageSharp/lobe.ImageSharp.csproj -o pacakges
  - cmd: dotnet pack src/lobe.Onnx/lobe.Onnx.csproj -o pacakges
  - cmd: dotnet pack src/lobe/lobe.csproj -o pacakges
artifacts:
  - path: "pacakges/**/*.nupkg"
    name: NugetPacakges

clone_depth: 1
test_script:
    - cmd: dotnet test src/lobe.sln
on_finish:
  # any cleanup in here
deploy:
  - provider: NuGet
    api_key:
      secure: BU1XVqphfcAjrMOWV7Nf3RgA6dI9hC4++JQRxeetVMRdTKTnAaaDwmbb+f0joKjA
    skip_symbols: false
    artifact: /.*(\.|\.s)nupkg/
    on:
      branch: main
